<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"><!--metadata-complete="true"-->

    <servlet>
        <servlet-name>log-controller</servlet-name>
        <servlet-class>demo.web.LoggingController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>log-controller</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>


    <!--<servlet>-->
        <!--<servlet-name>ParametrizedController</servlet-name>-->
        <!--<servlet-class>demo.web.ParametrizedController</servlet-class>-->
        <!--<init-param>-->
            <!--<param-name>max-age</param-name>-->
            <!--<param-value>132</param-value>-->
        <!--</init-param>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>ParametrizedController</servlet-name>-->
        <!--<url-pattern>/parametrized</url-pattern>-->
    <!--</servlet-mapping>-->

</web-app>
